---
import Links from '../components/Links.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Links &middot; caro.fyi">
	<main>
		<h1>Find Caro Online</h1>

		<Links />

	</main>
</Layout>

<style lang="postcss">

	:root {
		@apply m-auto p-6 max-w-prose text-center;
		@apply dark:bg-slate-900 bg-slate-200 text-slate-900 dark:text-slate-100;;
	}
	h1 {
		@apply text-6xl font-black tracking-tight mb-6;
	}
</style>
